<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complaints</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <nav class="navbar">
        <h2>CampusPulse</h2>

        <a href="/">Home</a>
    </nav>

    <div class="container">

        <h1>Submitted Complaints</h1>

        {% for complaint in complaints %}

        <div class="card">

            <h2>{{ complaint[1] }}</h2>

            <p>{{ complaint[2] }}</p>

        </div>

        {% endfor %}

    </div>

</body>
</html>