<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Complaints</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <h1>Submitted Complaints</h1>

    {% for complaint in complaints %}

        <div>

            <h2>{{ complaint[1] }}</h2>

            <p>{{ complaint[2] }}</p>

            <hr>

        </div>

    {% endfor %}

</body>
</html>