<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampusPulse</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <nav class="navbar">
        <h2>CampusPulse</h2>

        <a href="/complaints">View Complaints</a>
    </nav>

    <div class="container">

        <h1>Campus Issue Reporting System</h1>

        <p>
            Report campus issues easily and track complaints.
        </p>

        <form action="/submit" method="POST">

            <input type="text" name="title" placeholder="Issue Title" required>

            <textarea name="description" placeholder="Describe the issue" required></textarea>

            <button type="submit">Submit Issue</button>

        </form>

    </div>

</body>
</html>